.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to Yosemite from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Connect to BART and make your way to the Richmond station.
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      %h3 Cost (per adult)
      .cost-bullet
        %span.lead.beefy.dark.cost
          $25
        %span.lead.description Sed ut perspiciatis
      .cost-bullet
        %span.lead.beefy.dark.cost
          $25
        %span.lead.description Sed ut perspiciatis
      %hr.cost-hr.pull-left
      .clearfix
      %h3.total-cost $50-$75
      %h3 More Information
      %p.lead
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      %p.lead
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      %p.lead
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
