@import 'variables';

.destination-image{
  float:left;
  display: table-cell;
  margin: 0px 20px 10px 0px;
  width:300px;
}
.destination-blurb{
  display: table-cell;
}
.destination-heading{
  margin-top:40px;
  margin-bottom:30px;
  clear:both;
}

.additional-info-container{
  cursor:pointer;
  background-color: $lightGrey;
  padding: 20px 0px;
  &:hover{
    background-color: $lightGreyHover;
  }
}

.additional-information-content{
  margin-bottom: 30px;
  display:none;
  h3, h4, h5{
    color:$darkGrey;
  }

}

.additional-info-container {
  .open-btn{
    display:block;
  }
  .close-btn{
    display:none;
  }
}
.additional-info-container.open {
  .open-btn{
    display:none;
  }
  .close-btn{
    display:block;
  }
}

.blue-container{
  background-color: $blue;
  padding: 20px 0px;
  h4{
    color: white;
  }
}

.activity:nth-child(even){
  background-color: $lightGrey;
}

.activity-box:nth-child(even){
  background-color: $lightGrey;
}

.activity{
  strong{
    font-size:27px;
    @media only screen and (max-width: 768px) {
      font-size: 22px;
    }
  }
  .activity-heading{
    padding: 20px 0px;
  }
}

.activity-box{
  .trip-details{
    display:none;
  }
}

.from-select, .to-select{
  height:140px;
  cursor:pointer;
  .item {
    background-color:white;
    border: solid 1px $lightGrey;
    padding: 10px 20px;
    margin-bottom:4px;
  }
  .unselected-items{
    display:none;
  }
}

@media only screen and (max-width: 768px) {
  .destination-image{
    display: block;
    width: 100%;
    clear:both;
    margin-bottom: 10px;

  }
}
