@import 'variables';

.trip-photos{
  background-color: $blue;
  color: black;
  padding-bottom: 30px;
  .trip-photo-thumbnail{
    cursor: pointer;
    background-color: $lightGrey;
    border: solid 3px $blue;
    img{
      border: solid 3px white;
    }
    &:hover{
      opacity: 0.5;
    }
  }
  .trip-photo-gallery{
    border: solid 3px $blue;
    .carousel-inner>.item{
      .carousel-caption {
        background-color: rgba(0, 0, 0, 0.3);
        left:0;
        right:0;
        bottom:0;
        padding-top:12px;
        padding-bottom:12px;
        font-size:13px;
        a{
          color:white;
          &:hover{
            color:#ccc;
          }
        }
      }

    }
    .carousel-inner>.item>img{
      max-height:500px;
    }
    img{
      border: solid 3px white;
    }
  }
}
