.activity-box
  .activity
    .container
      .row
        .col-md-8
          .row.activity-heading
            .col-md-7
              %h4
                Bay View Loop Trail
            .col-md-5.hidden-sm.hidden-xs
              .cta-btn-dark.check-it-out-button
                Check it out
          .row
            .col-md-12
              %strong
                13.2 mi Hike
              .lead
                This trail is great for bird spotting and a light to moderate workout for anyone who is seeking...
        .col-md-4
          = image_tag "/assets/placeholders/destination_profile.png"
      .row.visible-sm.visible-xs
        .col-xs-12
          .cta-btn-dark.padded.check-it-out-button
            Check it out
  .trip-details
    .container.trip-details-container
      .row
        .col-md-12
          = render partial: "/pages/trip_details"
    .trip-photos
      .container
        .row
          .col-md-12
            = render partial: "/pages/trip_photos",locals:{trip_id:trip_id}
