%header.featured-header
  .featured-trail-container
    .container
      .row
        .col-lg-7.col-lg-offset-1.col-md-7.col-md-offset-1
          .featured-trail-cta
            %h4
              = trip['name']
            .lead
              Great hike with great views of Emerald Bay, Lake Tahoe, and Desolation Wilderness!
        .col-lg-3.col-md-3
          %a.cta-btn(href="/to/south_lake_tahoe?trip_id=1250")
            Check it out
