.trip-details
  %h3
    Bay View Trail Loop
  .lead.description
    This trail is great for bird spotting and a light to moderate workout for anyone who is seeking Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  .trailheads
    .start
      %span.lead.beefy
        Start
      %span.lead
        Bay View Trail Head
    .end
      %span.lead.beefy
        End
      %span.lead
        Sparrow Mountain Trailhead
  .stats
    .row
      .col-sm-3
        %h4 Length
        %h3 13.0 mi
      .col-sm-3
        %h4 Activity
        %h3 Hike
      .col-sm-3
        %h4 Duration
        %h3 Half Day
      .col-sm-3
        %h4 Intensity
        %h3 Moderate
    .row
      .col-sm-3
        %h4 Elevation
        %h3 840 ft
      .col-sm-3
        %h4 Season
        %h3 All Year
      .col-sm-6
        .cta-btn
          Get Directions
