%h3
  = trip['name']
.lead.description
  = trip['description']
.trailheads
  .start
    %span.lead.beefy
      Start
    %span.lead
      = trip['starting_trailhead']['name']
  .end
    %span.lead.beefy
      End
    %span.lead
      = trip['ending_trailhead']['name']
.stats
  .row
    .col-sm-3
      %h4 Length
      %h3 13.0 mi
    .col-sm-3
      %h4 Activity
      %h3 Hike
    .col-sm-3
      %h4 Duration
      %h3 Half Day
    .col-sm-3
      %h4 Intensity
      %h3 Moderate
  .row
    .col-sm-3
      %h4 Elevation
      %h3 840 ft
    .col-sm-3
      %h4 Season
      %h3 All Year
    .col-sm-6
      .cta-btn.get-directions-btn
        Get Directions
