%h3 Food

%h4= link_to, "Keys Cafe", "http://www.tahoekeyscafe.com/", target: "_blank"
%p.lead
  South Lake Tahoe’s independent coffeehouse, restaurant, wine & dessert bar, and internet café. Open Everyday 7am-4pm. Located at 2279 Lake Tahoe Blvd #2, South Lake Tahoe, CA.
  = link_to "See the menu here.", "http://www.tahoekeyscafe.com/", target: "_blank"

%h4 Beacon Bar & Grill
%p.lead
  Located on the shores of South Lake Tahoe on the way to Emerald Bay, this Bar & Grill has tasty food and panoramic views of the lake.
%h4 Camp Richardson General Store & Emerald Bay Cafe
%p.lead
  Open daily, year-round, serving breakfast and lunch, deli take-out, groceries, beer and wine, ice, camping supplies, books, maps, clothing and gifts, ATM.

%h4 Grass Roots Natural Foods Store and Bakery
%p.lead
  Here you can get homemade sandwiches, pizza, bread, cookies and more, as well as a wide selection of groceries, toiletries and bulk items.

%h4= link_to "Sprouts Cafe", "http://sproutscafetahoe.com", target: "_blank"
%p.lead
  Counter-service health-food cafe preparing homemade soups, wraps, burritos & smoothies.

%h4 Meeks Bay Marina Snack Bar and General Store

%p.lead
  A snack bar and general store at the Marina. 
