%h3 Food

%h4= link_to "Yosemite Lodge at the Falls Restaurants", "http://www.yosemitepark.com/yosemite-lodge.aspx"
%p.lead
  Three restaurants situated around the Yosemite Lodge offer options for any dining preference: The Mountain Room Restaurant has fine dining in an elegant atmosphere; The Mountain Room Lounge serves light appetizers and cocktails; and The Yosemite Lodge Food Court is a great spot for casual dining, coffee, and picnic items.

%h4 Curry Village Restaurants
%p.lead
  Some of the many amenities available in Curry Village include 5 casual dining options with pizza, a buffet, grill, coffee, and cocktails at family-friendly pricing.

%h4 Yosemite Village Restaurants
%p.lead
  Degnan’s Deli has sandwiches, salads, snacks, vegetarian and gourmet foods, and a variety of coffees and other beverages (open year-round). Degnan’s Cafe is open from May - September and offers smoothies, baked goods, deli items, snacks, ice cream and coffees, as well as computer and internet access. Degnan’s Loft is open from May - September and located above Degnan’s Deli. The Loft serves pizza, salads, soups and appetizers as well as beer and wine in a family-style restaurant atmosphere. The Village Grill has patio seating and is open from April - October, serving burgers, grilled sandwiches, salads and milkshakes.

%h4 The Village Store
%p.lead
  The Village Store is located in Yosemite Village and offers a full line of souvenirs including T-shirts, sweatshirts, hats, and Junior Ranger accessories.  he Village Store also carries groceries, fresh meat and produce, baked goods, camping supplies, books, magazines, postcards, bagged ice, and firewood. An ATM is available inside the store.
%p.lead
  The Village Store is currently open daily from 8:00 am to 8:00 pm.

%h4 Housekeeping Camp General Store
%p.lead
  Basic groceries, snacks, beverages, firewood, bagged ice, and camping supplies are available, in addition to souvenirs, maps, books, and children's gifts.

%h4 Tuolumne Meadows Store
%p.lead
  General convenience store offering groceries, cold beverages, camping and cooking supplies, maps, and souvenirs. Open seasonally from May through September.
