%h3 More Information

%p.lead
  Rent bikes from
  = link_to "Curry Village Guest Services", "http://www.yosemitepark.com/curry-village-guest-services.aspx"
  and explore even more of the Park! Bicycles are available for hourly or daily rentals from the Curry Village Recreation Center (Valley Shuttle stops 13a and 21), on a first-come, first-served basis for $12/hour and $34/day. Make sure to pick up a trail map at the rental shop.
%p.lead
  Treat the family to an evening of entertainment at
  = link_to "The Yosemite Theater", "http://www.yosemiteconservancy.org/"
  Films and live performances are held nightly at this theater behind the Valley Visitors Center, with tickets available in the Visitor Center ($4 for children/$8 for adults). The Yosemite Theater is run by the Yosemite Conservancy, with proceeds supporting conservation, restoration and education programs within the park.
