.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to South Lake Tahoe from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Take the Amtrak bus from Sacramento to the ‘Y’ in South Lake Tahoe
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          Transfer to the Emerald Bay Trolley
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          Ride the Trolley to numerous locations, depending on where plan to spend the night
      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          Alternatively, ride your bike or rent a bike and ride along the bike path or road shoulder to your destination.

      %h3 Cost (per adult)
      .cost-bullet
        %span.lead.beefy.dark.cost
          $25
        %span.lead.description Sed ut perspiciatis
      .cost-bullet
        %span.lead.beefy.dark.cost
          $25
        %span.lead.description Sed ut perspiciatis
      %hr.cost-hr.pull-left
      .clearfix
      %h3.total-cost $50-$75

      = render partial: "/pages/additional_info/south_lake_tahoe/lodging"

      = render partial: "/pages/additional_info/south_lake_tahoe/food"

      = render partial: "/pages/additional_info/south_lake_tahoe/more_info"
