.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to South Lake Tahoe from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Connect to BART and make your way to the Richmond station
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          At the Richmond BART station, transfer to the Capitol Corridor train for a relaxing and scenic ride along the scenic Carquinez Strait through the Central Valley to Sacramento. Enjoy free wifi, large comfortable seats, and restrooms on your way.
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          Take the Amtrak bus from Sacramento to the ‘Y’ in South Lake Tahoe
      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          Transfer to the Emerald Bay Trolley
      .info-bullet
        .circulabel.circulabel-bullet
          5
        .lead
          Ride the Trolley to numerous locations, depending on where plan to spend the night
      .info-bullet
        .circulabel.circulabel-bullet
          6
        .lead
          Alternatively, ride your bike or rent one and ride along the bike path to your destination.
      %h3 Costs

      %h4 Adult
      .lead $25 round-trip, $13 one-way

      %h4 Child (12 & under)/Senior (62+)
      .lead $18 round-trip, $9 one-way

      = render partial: "/pages/additional_info/south_lake_tahoe/lodging"

      = render partial: "/pages/additional_info/south_lake_tahoe/food"

      = render partial: "/pages/additional_info/south_lake_tahoe/more_info"
