/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background-image: url('/assets/photos/yosemite_unsplash.jpg')"}
  .container
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        .site-heading
          %h1.text-left
            CarLess
            %br
            California
/ Main Content
.container
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
      .site-welcome
        %h2
          Get outside on public transit!
        .lead
          Visit iconic outdoor destinations in California without a car.
          Plan your travel, lodging and outdoor adventure today!
          Leave the stress of driving in traffic behind and spend more time with your family and friends as you enjoy the scenery on your way to an amazing outdoor destination!
        %br
      .row.destination-cards
        .col-md-5.col-md-offset-1
          = link_to to_path(id: 'south_lake_tahoe') do
            .south-lake-tahoe
              = render partial: "destination_card", locals: {title:"South Lake Tahoe Excursions"}
        .col-md-5
          = link_to to_path(id: 'yosemite') do
            .yosemite
              = render partial: "destination_card", locals: {title:"Yosemite Excursions"}
        %br
        %br
#featured-trip

:javascript
  $(function(){
    $('#featured-trip').load('/index/featured_trip');
  })
