@import 'variables';

.photo-attribution {
  position:absolute;
  bottom:0;
  right:0;
  width: 100%;
  padding:14px 24px;
  font-size:13px;
  color:#eee;
  text-shadow: 1px 1px 4px #666;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

body {
  font-size: 20px;
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  webkit-tap-highlight-color: #0085a1;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6 .h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1{
  text-shadow: 2px 2px 6px #666;
  line-height:70px;
}
h2{
  font-size:60px;
  font-weight: 400;
  color: $blue;
}
h3, .h3{
  font-size:40px;
  font-weight:300;
  color:$blue;
  margin: 30px 0px;
}
.h3{
  margin: 10px;
}
h4{
  font-size:27px;
  text-transform: uppercase;
  font-weight:700;
  color:$blue;
}
.lead{
  font-size: 27px;
  margin-bottom:34px;
}
.beefy{
  text-transform: uppercase;
  font-weight: 700;
}
.dark{
  color: $blue;
}
.cost-bullet{
  .cost{
    margin-right: 30px;
  }
}
.cost-hr{
  border-top: 2px solid black;
  width: 50%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

h3.total-cost{
  margin: 10px 0px;
}
@media only screen and (max-width: 768px) {
  h2{
    font-size:40px;
  }
  h3{
    font-size: 30px;
    margin: 20px 0px;
  }
  h4{
    font-size: 20px;
  }
  .lead{
    font-size: 22px;
  }
}

.additional-information-content{
  a{
    color: #0085a1;
  }
  a:hover,
  a:focus {
    color: #076478;
  }

}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.site-welcome{
  .lead{
    font-weight:300;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cta-btn {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 18px 18px;
  border: solid 3px white;
  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color:white;
  }
  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.check-it-out-button{
  cursor: pointer;
}
.cta-btn-dark{
  cursor: pointer;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue;
  padding: 18px 18px;
  border: solid 3px $blue;
  &:hover{
    background-color: $blueHover;
  }
  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.padded{
  margin: 20px 0px;
}

.info-bullet {
  margin-bottom:30px;
  .circulabel, .lead {
    display:table-cell;
  }


}
.circulabel{
  width: 40px;
  height: 40px;
  line-height:40px;
  background-color: $blue;
  color:white;
  font-size: 27px;
  border-radius: 20px;
  float:left;
  font-weight:700;
  text-align:center;

}

.circulabel-bullet{
  margin-right:30px;
  margin-top: 0px;
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: white;
}
 ::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
 ::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
.partner-logo
{
  cursor: pointer;
  padding-right:20px;
  padding-bottom:60px;
  a{
    cursor: pointer;
  }
  img{
    max-height:120px;
    cursor: pointer;
  }

}
