@import "variables";

.trip-details{
  color: white;
  background-color: $blue;
  h1,h2,h3,h4,h5, lead{
    color: white;
  }
  .trip-description {
    text-shadow: 0px -1px 1px black;
    pre{
      background:inherit;
      border:none;
      text-shadow: 0px -1px 1px black;
      font-size: 27px;
      color:white;
      font-family: 'Open Sans', sans-serif;
      white-space:pre-wrap;
      word-break:normal;
      word-wrap:normal;

    }
  }

  .stats {
    h4 {
      margin: 0px;
    }
    h3{
      margin-top:10px;
    }
  }
  .description,.trailheads,.stats{
    margin-bottom:40px;
  }
}
