$blue: #3E6D92;
$lightGrey: #E6E7E8;
$darkGrey: #333333;
$darkGreyHover: #444444;
$photos: #EDB62E;
$transit: #FF6633;
$campground: #339900;
$water: #00B7FF;
$lodging: #9966CC;
$food: #FF0000;
$blueBackdrop: rgba(62, 109, 146, 0.6);
$blueHover: rgba(62, 109, 146, 0.2);
