/ Footer
%footer
  .container
    .row
      .col-md-12
        .row
          .col-sm-6
            .copyright.text-muted Copyright © Trailhead Labs
          .col-sm-6
            %ul.nav.navbar-nav.navbar-right= render 'layouts/navigation_links'
