%hr/
/ Footer
%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .row
          .col-sm-6
            .copyright.text-muted Copyright © Trailhead Labs
          .col-sm-6
            %ul.nav.navbar-nav.navbar-right= render 'layouts/navigation_links'
