/ Navigation
%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container
    .row
      .col-md-12
        %ul.nav.navbar-nav.navbar-right= render 'layouts/navigation_links'
    / /.navbar-collapse
  / /.container
