%li
  = link_to root_path do
    %i.fa.fa-home
    %span.nav-label
      Home
%li
  = link_to "//www.twitter.com/trailheadlabs" do
    %i.fa.fa-twitter-square

%li
  = link_to "//www.facebook.com/trailheadlabs" do
    %i.fa.fa-facebook-square

%li
  = link_to "//www.github.com/trailheadlabs/carlessca" do
    %i.fa.fa-github-square
